<!doctype html>
{% load static %}
<html lang="en">

<head>
    <title>SimulateGame</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/SimulateGame.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleSheet.css' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Week {{ weekNum }}</h2>
            <a href="/Homepage">Homepage</a>
        </div>
        <div class="matchUp">
            {% if myMatch.home_team == 1 %}
                {% for team in teams %}
                    {% if team.team_num == myMatch.home_team %}
                    <div class="team">
                        <img src="/static/images/{{ team.image_tag }}" alt="{{ team.team_name }}">
                        <p class="teamName">{{ team.team_name }} {{ team.ability }}</p>
                            {% for s_team in standings %}
                                {% if team.team_num == s_team.id %}
                                    <p>{{s_team.wins}}-{{s_team.losses}}-{{s_team.ties}}</p>
                                {%endif%}
                            {% endfor %}
                            {% if myMatch.home_score == None %}
                                <p>Score: </p>
                            {% else %}
                                <p>Score: {{myMatch.home_score}}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if myMatch.away_team == 1 %}
                {% for team in teams %}
                    {% if team.team_num == myMatch.away_team %}
                        <div class="team">
                            <img src="/static/images/{{ team.image_tag }}" alt="{{ team.team_name }}">
                            <p class="teamName">{{ team.team_name }} {{ team.ability }}</p>
                            {% for s_team in standings %}
                                {% if team.team_num == s_team.id %}
                                    <p>{{s_team.wins}}-{{s_team.losses}}-{{s_team.ties}}</p>
                                {%endif%}
                            {% endfor %}
                            {% if myMatch.away_score == None %}
                                <p>Score: </p>
                            {% else %}
                                <p>Score: {{myMatch.away_score}}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h3 class="vs">vs.</h3>

            {% if myMatch.home_team != 1 %}
                {% for team in teams %}
                    {% if team.team_num == myMatch.home_team %}
                        <div class="team">
                            <img src="/static/images/{{ team.image_tag }}" alt="{{ team.team_name }}">
                            <p class="teamName">{{ team.team_name }} {{ team.ability }}</p>
                            {% for s_team in standings %}
                                {% if team.team_num == s_team.id %}
                                    <p>{{s_team.wins}}-{{s_team.losses}}-{{s_team.ties}}</p>
                                {%endif%}
                            {% endfor %}
                            {% if myMatch.home_score == None %}
                                <p>Score: </p>
                            {% else %}
                                <p>Score: {{myMatch.home_score}}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if myMatch.away_team != 1 %}
                {% for team in teams %}
                    {% if team.team_num == myMatch.away_team %}
                        <div class="team">
                            <img src="/static/images/{{ team.image_tag }}" alt="{{ team.team_name }}">
                            <p class="teamName">{{ team.team_name }} {{ team.ability }}</p>
                            {% for s_team in standings %}
                                {% if team.team_num == s_team.id %}
                                    <p>{{s_team.wins}}-{{s_team.losses}}-{{s_team.ties}}</p>
                                {%endif%}
                            {% endfor %}
                            {% if myMatch.away_score == None %}
                                <p>Score: </p>
                            {% else %}
                                <p>Score: {{myMatch.away_score}}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {% if myMatch.result == None %}
            <form action="/simGame" method="POST">
                {% csrf_token %}
                <input type="submit" value="Simulate Game">
            </form>
            {% endif %}
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>