<!doctype html>
{% load static %}
<html lang="en">

<head>
    <title>Standings</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .wrapper{
            width: 650px;
            border: 2px solid black;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\styleSheet.css'  %}">
    <link rel="stylesheet" href="{% static 'css\styleSheet.css'  %}">
</head>

<body>
    <div class="header">
        <h2>Standings</h2>
        <a href="/Homepage">Homepage</a>
    </div>
    <div class="wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Team icon</th>
                    <th>Team Name</th>
                    <th>Ability</th>
                    <th>W-L</th>
                    <th>Win %</th>
                    <th>Pts For</th>
                    <th>Pts Against</th>
                </tr>
            </thead>
            <tbody>
                {% for s_team in standings %}
                    {% for team in teams %}
                        {% if team.team_num == s_team.id %}
                        <tr>
                            <td><img src="/static/images/{{ team.image_tag }}" alt="{{team.team_name}}"></td>
                            <td>{{team.team_name}}</td>
                            <td>{{ team.ability }}</td>
                            <td>{{ s_team.wins }}-{{ s_team.losses }}-{{s_team.ties}}</td>
                            <td>{{ s_team.win_pct }}</td>
                            <td>{{ s_team.pts_for }}</td>
                            <td>{{ s_team.pts_against }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Team icon</th>
                    <th>Team Name</th>
                    <th>W-L</th>
                    <th>Win %</th>
                    <th>Pts For</th>
                    <th>Pts Against</th>
                </tr>
            </thead>
            <tbody>
                {% for h_team in historic %}
                    {% for team in teams %}
                        {% if team.team_num == h_team.id %}
                        <tr>
                            <td><img src="/static/images/{{ team.image_tag }}" alt="{{team.team_name}}"></td>
                            <td>{{team.team_name}}</td>
                            <td>{{ h_team.wins }}-{{ h_team.losses }}-{{h_team.ties}}</td>
                            <td>{{ h_team.win_pct }}</td>
                            <td>{{ h_team.pts_for }}</td>
                            <td>{{ h_team.pts_against }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>