.container{
    width: 90%;
}

.matchUp{
    border: 2px solid black;
    display: inline-block;
    padding: 15px;
    margin: 3%;
}

.team{
    border: 2px solid black;
    display: inline-block;
    padding: 50px;
    width: 250px;
}
.team img{
    border: 1px solid black;
}
.team .teamName{
    display: inline-block;
}
.vs{
    display: inline-block;
    margin: 25px;
    vertical-align: top;
}